@model Staj.Models.TeamViewModel
    <div>
        <div class="form-group">
            <!-- Player Name -->
            <label class="control-label">Team Name</label><div class="controls">
                @Html.TextBoxFor(m => m.teamName, new { @class = "form-control aligncenter", @id = "teamName" })
            </div>
        </div>
        <div class="form-group">
            <!-- Player Name -->
            <label class="control-label">Game Played</label><div class="controls">
                @Html.TextBoxFor(m => m.gamePlayed, new { @class = "form-control aligncenter", @id = "gamePlayed" })
            </div>
        </div>
        <div class="form-group">
            <!-- Player Name -->
            <label class="control-label">Win</label><div class="controls">
                @Html.TextBoxFor(m => m.win, new { @class = "form-control aligncenter", @id = "win" })
            </div>
        </div>
        <div class="form-group">
            <!-- Player Name -->
            <label class="control-label">Lose</label><div class="controls">
                @Html.TextBoxFor(m => m.lose, new { @class = "form-control aligncenter", @id = "lose" })
            </div>
        </div>
        <div class="form-group">
            <!-- Player Name -->
            <label class="control-label">Draw</label><div class="controls">
                @Html.TextBoxFor(m => m.draw, new { @class = "form-control aligncenter", @id = "draw" })
            </div>
        </div>
        <div class="form-group">
            <!-- Player Name -->
            <label class="control-label">Goal Against</label><div class="controls">
                @Html.TextBoxFor(m => m.goalAgainst, new { @class = "form-control aligncenter", @id = "goalAgainst" })
            </div>
        </div>
        <div class="form-group">
            <!-- Player Name -->
            <label class="control-label">Goal Difference</label><div class="controls">
                @Html.TextBoxFor(m => m.goalDifference, new { @class = "form-control aligncenter", @id = "goalDifference" })
            </div>
        </div>
        <div class="form-group">
            <!-- Player Name -->
            <label class="control-label">Point</label><div class="controls">
                @Html.TextBoxFor(m => m.point, new { @class = "form-control aligncenter", @id = "point" })
            </div>
        </div>
    </div>
    

<script>

    //$(document).ready(function () {
    //    $("#teamTable").DataTable();
    //});
    var id = @ViewBag.teamId;
     $(function () {
         $("#hede").click(function () {
            debugger
            //var data = $("#myForm").serialize();
            var hede1 = $("#teamName").val();
            var hede2 = $("#gamePlayed").val();
            var hede3 = $("#win").val();
            var hede4 = $("#lose").val();
            var hede5 = $("#draw").val();
            var hede6 = $("#goalAgainst").val();
            var hede7 = $("#goalDifference").val();
             var hede8 = $("#point").val();
             var hede9 = id;

            $.ajax({
                type: "POST",
                url: "/Team/AddEditTeam",
                data: {
                    "teamId": hede9,
                    "teamName": hede1,
                    "gamePlayed": hede2,
                    "win": hede3,
                    "lose": hede4,
                    "draw": hede5,
                    "goalAgainst": hede6,
                    "goalDifference": hede7,
                    "point": hede8
                },
                success: function (response) {
                    $("#myModal").modal("hide");
                    window.location.href = "/Team/ShowTeams";
                }
            })
        })
    })

</script>